html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}


/* Header here */

.header-brand {
    margin: auto;
    padding: 5px;
    background-color: #f8f8f8;
    text-align: center;
    vertical-align: middle;
}

.header-brand-name {
    font-family: 'Quintessential', cursive;
    font-size: 2em;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.social-media-icons {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}


/* Content here */

.wrapper {
    width: 100vw;
    min-height: 100vh;
}

.content {
    margin: auto;
    max-width: 1180px;
}

.section {
    background-color: deepskyblue;
    height: 1020vh;
}


/* Newsletter here */

.newsletter, .sticky-newsletter, newsletter-space {
    height: 75px;
}

.newsletter, .sticky-newsletter {
    display: block;
    background-color: beige;
    border: solid 1px lightgray;
}

.sticky-newsletter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}


/* Footer here */

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: darkslategray;
    z-index: 30;
}

footer > .container {
    margin: auto;
}

.footer-section-wrapper {
    min-height: 150px;
}

.footer-section {
    color: white;
    height: 100%;
    border: solid 1px gray;
}

.copyright {
    padding: 20px;
}

.copyright-name {
    color: white;
    text-align: center;
    margin: 0px;
}

/* Custom Bootstrap codes  */
.col-md-4, .col-sm-6 {
    padding: 0 !important;
}

.navbar-default {
    background-color: white;
}

.navbar {
    margin-bottom: 0px;
}