html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Header here */

.header-brand {
    margin: auto;
    padding: 5px;
    background-color: #f8f8f8;
    text-align: center;
    vertical-align: middle;
}

.header-brand-name {
    font-family: 'Quintessential', cursive;
    font-size: 2em;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.social-media-icons {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}


/* Search form goes here */

#experience {
    width: 150px;
}

#check-in, #check-out {
    width: 175px;
}

#numGuests {
    margin-right: 10px;
    width: 75px;
    
}


/* Content here */

.wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
}

.content {
    margin: auto;
    max-width: 1180px;
}


/* Search results goes here. */
.search-results {
    min-height: 130vh;
}

.house-list {
    list-style: none;
    padding: 0px !important;
}

.house-item-wrapper {
    width: 50%;
    padding: 10px;
    display: inline-block;
    background-color: #f5f5dc;
}

.house-item {
    border: solid 1px lightgray;
}


/* Newsletter here */

.newsletter-space {
    padding: 175px;
}


.subscription-overflow {
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
}

.newsletter, .sticky-newsletter {
    padding: 10px;
    text-align: center;
}

.newsletter, .sticky-newsletter {
    display: block;
    background-color: beige;
    border-top: solid 1px lightgray;
}

.sticky-newsletter, .subscription-overflow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}


/* Footer here */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    z-index: 30;
    border-top: solid 1px #79cdcd;
}

footer > .container {
    margin: auto;
}

.footer-section-wrapper {
    min-height: 150px;
}

.footer-section {
    color: white;
    padding: 10px;
    height: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.copyright {
    border-top: solid 1px gray;
    padding: 20px;
}

.copyright-name {
    color: white;
    text-align: center;
    margin: 0px;
}

.payment-list {
    list-style: none;
    padding: 0px !important;
}

.card {
    display: inline-block;
}

.payment-image {
    width: 80px;
    height: 55px;
    padding: 5px;
}


/* Custom Bootstrap codes  */
.col-md-4, .col-sm-6 {
    padding: 0 !important;
}

.navbar-default {
    background-color: white;
}

.navbar {
    margin-bottom: 0px;
}

.control-label {
    padding-left: 10px;
    padding-right: 10px;
}


/* Supplementary styles goes here */
.hidden {
    display: none;
}


/* Some media queries in case of mobile */
@media(max-width:767px){
    .house-item-wrapper {
        width: 100%;
        display: block;
    }
    
    #experience, #check-in, #check-out, #numGuests, #btn-reset {
        width: 100%;
    }
    
    .subscription-wrapper  {
        margin: 0px !important;
    }
}